/* viewportを設定して、スマホやタブレットでの表示を最適化 */
@viewport {
  width: device-width;
  initial-scale: 1;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px; /* デスクトップでの最大幅 */
  margin: 0 auto; /* 中央揃え */
  padding: 20px;
  text-align: center;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-size: 1em;
}

input,
select {
  width: 100%; /* コンテナの幅に自動調整 */
  max-width: 300px; /* 入力欄の最大幅 */
  padding: 10px;
  font-size: 1em;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #555;
  text-align: center;
}

button {
  width: 50%;
  max-width: 200px;
  padding: 10px;
  font-size: 1.1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #555;
}

/* モバイル対応 */
@media (max-width: 768px) {
  input,
  select,
  button {
    width: 100%; /* モバイルでは全幅 */
  }
}
