.top-page {
  background-image: url("/images/フィル.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  /* overflow: hidden; */
}

/* TopPageページの文字アウトライン */
.top-page h1,
.top-page h2 {
  color: white; /* 文字色は白 */
  text-shadow: -1px -1px 0 #000, /* 左上に黒い影 */ 1px -1px 0 #000,
    /* 右上に黒い影 */ -1px 1px 0 #000, /* 左下に黒い影 */ 1px 1px 0 #000; /* 右下に黒い影 */
}

.top-page h1 {
  margin: 200px;
  text-align: center;
  margin-bottom: 16em;
}
